@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color: #EDF2FB;
    font-family: "Poppins", sans-serif !important;
}


.visual-header {
    height: 100vh;
    min-height: 500px;


}
/*Adding in the Navigation Bar Styling*/
nav button {
    padding: 10px;
    margin-left: 150px;
    border: 1px solid white;
    color: #6794A3;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    cursor: pointer;
    background-color: #8ECAE6;
    border-radius: 20px;
}

nav button:hover {
    border: 2px solid #023047;
}

nav button:last-child span {
    padding: 10px 25px;
    color: #023047;
    margin-right: 5px;   
}

.nav-link{
    color:#6794A3;
}

.nav-link:hover{
    cursor: pointer;
    color: #023047;
}

#search-cta {
    border: 2px solid transparent; /* remove the border unless it's hovered over*/
  }
  
nav button:hover {
    color: #023047;
}
/*Nav Bar Styling Ends here*/


span {
    font-size: 16px;
    font-weight: lighter;
}

.card {
    background-color: rgba(142, 202, 230, 0.4);
}

.card-body>a{
    text-decoration: none;
    color: #023047;
    text-transform: uppercase;
    margin: 4em;
}
.card-body>a>i{
    color: #fff;
}

.visual-p2 {
    height: 40vh;
    min-height: 500px;
    background: linear-gradient(to bottom, #023047, #8ECAE6);

}

.visual-p3{
    height: 100vh;
    min-height: 500px;
    padding-left: 4em;
    padding-right: 4em;
}

.visual-tab{
    padding: 2em;
}

/* Social Media */
.graphCanvas {
    display: flex;
    align-items: center;
    justify-content: center;
}
